body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
    display: flex;
}


.center {
    top: 60px; /* Espacio entre el nav y el centro */
    position: relative;
    z-index: 0;
    display: block;
    flex-direction: column;
    margin: 20px;
    margin-left: 240px;
    transition: margin-left 0.3s;
    flex-grow: 1;
}

.fila {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-bottom: 20px; /* Espacio entre filas */
}

.enlace {
    height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex: 1 0 calc(25% - 20px); /* 4 columnas en pantalla grande con márgenes */
    margin: 10px; /* Espacio entre enlaces */
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* Asegura que la imagen esté arriba y el texto abajo */
    align-items: center;
}

.titulo {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limitar a 2 líneas */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Asegura que el texto se divida en múltiples líneas si es necesario */
    max-height: 3em; /* Ajustar al tamaño adecuado para 2 líneas */
}

.descripcion {
    margin: 0;
    color: gray;
    font-size: 0.9em;
}

.enlace:hover {
    transform: scale(1.05);
}

.imagen {
    width: 100%;
    height: auto;
}

.info {
    display: flex;
    padding: 10px;
}

.icono-columna {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textos {
    margin-left: 10px;
    flex: 1;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .center {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        align-items: center; /* Alinea todos los elementos al centro */
    }

    .fila {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    }

    .enlace {
        width: 90%; /* Ocupará el 90% del ancho en pantallas pequeñas */
        margin: 5px 0; /* Espacio vertical entre enlaces */
        max-width: none; /* Elimina el máximo ancho en pantallas pequeñas */
    }
}