body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
    display: flex;
}


.center {
    top: 60px;
    position: relative;
    z-index: 0;
    display: block;
    flex-direction: column;
    margin: 20px;
    margin-left: 240px;
    transition: margin-left 0.3s;
    flex-grow: 1;
}

.fila {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-bottom: 20px; 
}

.enlace {
    height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex: 1 0 calc(25% - 20px); 
    margin: 10px; 
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: relative;
}

.titulo {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limita a 2 líneas */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
    max-height: 3em; 
    width: 100%; 
    cursor: pointer; 
    position: relative; 
}


.titulo:hover::after {
    content: attr(data-title); 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: max-content;
    max-width: 300px; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.descripcion {
    margin: 0;
    color: gray;
    font-size: 0.9em;
}

.enlace:hover {
    transform: scale(1.05);
}

.imagen {
    width: 100%;
    height: auto;
}

.info {
    display: flex;
    padding: 10px;
}

.icono-columna {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textos {
    margin-left: 10px;
    flex: 1;
}

/* responsive */
@media (max-width: 768px) {
    .center {
        flex-direction: column; 
        align-items: center; 
    }

    .fila {
        flex-direction: column; 
    }

    .fila shorts{
        flex-direction: column;
    }

    .enlace {
        width: 90%; 
        margin: 5px 0; 
        max-width: none; 
    }

    .enlace_short {
        width: 90%; 
        margin: 5px 0; 
        max-width: none; 
    }

    .titulo:hover::after {
        max-width: 90%; 
    }
}